<h1>Editing Ticket</h1>

<%= render 'form', ticket: @ticket %>

<button class="btn btn-default" style="margin-top: 20px">
  <%= link_to 'Podglad', @ticket %>
</button>

<button class="btn btn-default" style="margin-top: 20px; float: left">
  <%= link_to 'Powrot', tickets_path %>
</button>
